.container { 
    width: 50%;
    margin: auto;
    padding: 10px; 
    font-family:'Courier New';
} 

.profile 
{ 
    width:150px; 
    height:150px; 
    object-position:top; 
    object-fit:cover; 
    border-radius:50px; 
    position: center; 
} 

.section 
{ 
    background : linear-gradient(to right, lightblue, darkblue); 
    margin: 20px 0; 
    padding: 10px; 
    border-radius: 55px; 
} 

.section:hover 
{ 
    background :linear-gradient(to right , darkblue, lightblue); 
    box-shadow: 0px 4px 10px rgba(0,0,0,0.1); 
    color:wheat; 
}

body
{ 
    background : linear-gradient(to right, lightblue, darkblue); 
    color:black; 
}